<div class="container">  
  
  <h1 id="title">{{ today | date:'yMMMMEEEEd' }}</h1>
  <button id="back" (click)="goBack()" class="btn btn-outline-primary">Back to Weekly Plan</button>

    <div id="for-cards">
      <div class="card" *ngFor="let lesson of selected_day">
        <h3 class="card-header">{{ lesson.subject }}</h3>
        <div class="card-block">
            <p class="card-text lead">Content: {{ lesson.content }}</p>
            <p class="card-text lead">Reflections: {{ lesson.reflections }}</p>            
            <button class="btn btn-outline-info" (click)="goToEdit(lesson)" routerLink="/edit">Edit</button>
            <button class="btn btn-outline-danger" id="delete" (click)="deleteLesson(lesson)">Delete</button>
        </div>
      </div>
    </div>
</div>



<!--<div class="lessons">
  <div *ngFor="let lesson of lessons">
    <p>Time: {{ lesson.time | date:'shortTime' }}</p>
    <p>Subject: {{ lesson.subject }}</p>
  </div>
</div>-->