<div class="container">  
  
  <h2>{{ today | date:'yMMMMEEEEd' }}</h2>
    <div class="card" *ngFor="let lesson of selected_day">
        <h3 class="card-header">{{ lesson.subject }}</h3>
        <div class="card-block">
            <p class="card-text lead">Content: {{ lesson.content }}</p>
            <p class="card-text lead">Reflections: {{ lesson.reflections }}</p>            
            <button class="btn btn-info" (click)="goToEdit(lesson)" routerLink="/edit">Edit</button>
            <button class="btn btn-danger" (click)="deleteLesson(lesson)">Delete</button>
        </div>
    </div>
</div>



<!--<div class="lessons">
  <div *ngFor="let lesson of lessons">
    <p>Time: {{ lesson.time | date:'shortTime' }}</p>
    <p>Subject: {{ lesson.subject }}</p>
  </div>
</div>-->