
#back {
    margin-top: 30px;
}

#for-cards {
    margin-top: 40px;
    margin-bottom: 50px;
}

#delete {
    margin-left: 10px;
}

#title {
    margin-top: 50px;
}

.container {
    min-height:100vh;
}