<div class="container">
    <form class="form-horizontal" (ngSubmit)="editLesson(currentLesson)" id="edit-form" #editForm="ngForm">
      <fieldset>
          <legend>Edit Lesson</legend>
          <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Subject/Period</label>
          <div class="col-lg-10">
              <input type="text" class="form-control" id="inputSubject" value="{{ currentLesson.subject }}" [(ngModel)]="currentLesson.subject" [ngModelOptions]="{standalone: true}">
          </div>
          </div>
          <div class="form-group">
          <label for="inputContent" class="col-lg-2 control-label">Content</label>
          <div class="col-lg-10">
              <textarea class="form-control" rows="3" [(ngModel)]="currentLesson.content" [ngModelOptions]="{standalone: true}">{{ currentLesson.content }}</textarea>
          </div>
          </div>
          <div class="form-group">
          <label for="inputReflections" class="col-lg-2 control-label">Reflections</label>
          <div class="col-lg-10">
              <textarea class="form-control" rows="3" [(ngModel)]="currentLesson.reflections" [ngModelOptions]="{standalone: true}">{{ currentLesson.reflections }}</textarea>
          </div>
          </div>
          <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-success">Submit</button>
              <button (click)="goBack()" type="button" class="btn btn-warning">Back to Daily Plan</button>
          </div>
          </div>
      </fieldset>
  </form>
</div>