<md-card>
  <md-card-header>
    <md-card-title>Login</md-card-title>
  </md-card-header>
  <md-card-content>
    <form class="login">
      <p>
        <md-input-container class="input">
          <textarea mdInput placeholder="Email"></textarea>
        </md-input-container>
        <md-input-container class="input">
          <textarea mdInput placeholder="Password"></textarea>
        </md-input-container>
      </p>
      <button md-button>Login</button>
    </form>
  </md-card-content>
  <md-card-actions>
    
  </md-card-actions>
</md-card>



