<div class="container">





<h3>{{ getMonday() | date:'yMMMMEEEEd' }} - {{ getFriday() | date:'yMMMMEEEEd' }}</h3>
<div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let lesson of lessons">
        <div class="thumbnail">
        <div class="caption">
            <h3 >{{ lesson.date_taught | date:'yMMMMEEEEd' }}</h3>
            <!--<h3>{{ lesson.date_taught | date:'EEEE' }}</h3>-->
            <p><a href="#" class="btn btn-primary" role="button">View Plan</a></p>
        </div>
        </div>
    </div>
</div>
</div>

<!--<div id="utilities">
    <span>Hello User!</span>
    <button (click)="showDate()" class="btn">Add Plan</button>
</div>
<div class="for-cards">
    <div class="card" *ngFor="let day of days">
    <div class="card-title"><span>{{ day.date | date:'yMMMMEEEEd' }}</span></div>
    <div class="card-body">
        <span></span>
        <button class="btn" routerLink="/{{ day.id }}/lessons">View Plan</button>
    </div>
</div>
</div>-->

