<div class="container">

    <h3>{{ getMonday() | date:'yMMMMEEEEd' }} - {{ getFriday() | date:'yMMMMEEEEd' }}</h3>
    <!--<div class="row">
        <div class="col-sm-6 col-md-4 card justify-content-center align-items-center card-block h-100" *ngFor="let day of someDays; let i = index">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{ daysBetween[i] | date:'EEEE' }}</h3>
                    <p *ngFor="let sub of day">{{ sub.subject }}</p>
                    <button routerLink="/day" (click)="viewIndividual(day)" class="btn btn-primary">View Plan</button>
                </div>
            </div>
        </div>
    </div>-->
  <div class="card" *ngFor="let day of someDays; let i = index">
    <h3 class="card-header">{{ daysBetween[i] | date:'EEEE' }}</h3>
        <div class="card-block">
            <h4 class="card-title">Overview:</h4>
            <p *ngFor="let sub of day">{{ sub.subject }}</p>
            <button routerLink="/day" (click)="viewIndividual(day)" class="btn btn-primary">View Plan</button>
        </div>
    </div>
    
</div>
