.card {
    height: 300px;
    width: 300px;
    margin: 30px;
    /*float: left;*/
    border: 3px solid #033B6F;
    background-color: #E1EEFA;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

@media (max-width: 600px) {
    .card {
        float: none;
        margin: 30px auto;
    }
}

.card-title {
    flex-shrink: 0;
    height: 40px;
    width: 100%;
    border-bottom: 3px solid #033B6F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.card-body {
flex-grow: 1;
}